@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
      url('fonts/Ubuntu-Bold.woff2') format('woff2'),
      url('fonts/Ubuntu-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
      url('fonts/Ubuntu-Medium.woff2') format('woff2'),
      url('fonts/Ubuntu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
      url('fonts/Ubuntu-Regular.woff2') format('woff2'),
      url('fonts/Ubuntu-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Light'), local('Ubuntu-Light'),
      url('fonts/Ubuntu-Light.woff2') format('woff2'),
      url('fonts/Ubuntu-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
      url('fonts/Ubuntu-BoldItalic.woff2') format('woff2'),
      url('fonts/Ubuntu-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
      url('fonts/Ubuntu-MediumItalic.woff2') format('woff2'),
      url('fonts/Ubuntu-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
      url('fonts/Ubuntu-LightItalic.woff2') format('woff2'),
      url('fonts/Ubuntu-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
      url('fonts/Ubuntu-Italic.woff2') format('woff2'),
      url('fonts/Ubuntu-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
#template-content {
  
  body {
    font-family: 'Ubuntu';
    color: #fff;
  }
  a:link, 
  a:visited, 
  a.yshortcuts {
    color: #fff;
    font-weight:normal;
    text-decoration:underline;
  }
  h1 {
    padding: 0;
    margin: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 24px;
    color: #fff;
    font-family: 'Ubuntu';
  }

  img {
    display:inline;
    height:auto;
    width: 100%;
  }

  p {
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
  }

hr {
  height: 1px;
  background: #4A4A55;
  border: none;
  margin-bottom: 35px;
}


}