
#template-content {
  
  body {
    font-family: 'Ubuntu';
    color: #fff;
  }
  a:link, 
  a:visited, 
  a.yshortcuts {
    color: #fff;
    font-weight:normal;
    text-decoration:underline;
  }
  h1 {
    padding: 0;
    margin: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 24px;
    color: #fff;
    font-family: 'Ubuntu';
  }

  img {
    display:inline;
    height:auto;
    width: 100%;
  }

  p {
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
  }

hr {
  height: 1px;
  background: #4A4A55;
  border: none;
  margin-bottom: 35px;
}


}