
@import 
	'reset'
;

$font-stack: 'Ubuntu';
$theme: #2d2d37;
$bg-color: #232331;



body {
	background-color: $bg-color; 
}

a {
	color: #fff;
}


#body-container {
	width: 100%;
	max-width: 600px;
	margin: 20px auto;
	
}

#template-content {
	background-color: #2d2d37;
}



#template-content-header {
	text-align: center; 
	position: relative;
	td {
		background-color: $theme;
		padding: 0 0;
		font-family: $font-stack;
	}
}

.email-title {
	height: 196px;
	padding-top: 18px;
	display: flex;
	padding: 0;
	color: #fff; 
	font-size: 24px; 
	font-weight: 700; 
	text-decoration: none;
	font-size: 16px;
	background-image: url("https://i.ibb.co/sRpFLh3/Group-3.png");
	background-repeat: no-repeat;
	background-size: 226px 196px;

	font-size: 16px;
	.subheader {
		display: flex;
		flex-wrap: wrap;
		height: 80px;
		align-items: center;
	}
	.left {
		margin-left: 30px;
		& img {
			width: 252px;
			height: 50px;
		}
	}
	.right {
		vertical-align: middle;
		width: 270px;
	}
	.blue {
		color: #009CFF;
	}
}
	

#template-content-content {
	width: 90%;
	max-width: 560px;
	text-align: left;
	font-family: $font-stack;
	font-weight: 400;
	font-size: 16px; 
	line-height:150%;
	margin: 0 0;
	.info {
		margin-bottom: 40px;
		color: #fff;
	}
	.title {
		color: #fff;
	}
	.btn {
		padding: 15px 30px;
		margin-bottom: 32px;
		font-weight: bold;
		font-size: 14px;
		background: #009CFF;
		border: 2px solid #009CFF;
		box-sizing: border-box;
		border-radius: 30px;
		cursor: pointer;
	}
	.small {
		margin-top: 40px;
		margin-bottom: 60px;
		font-family: Ubuntu;
		font-style: normal;
		font-weight: normal;
		line-height: 18px;
		font-size: 12px;
		color: #fff !important;
	}
	hr {
		height: 1px;
		background: #4A4A55;
		border: none;
		margin-bottom: 35px;
	}
	.link {
		color: #fff !important;
	}
}


#template-content-footer {
	margin-bottom: 50px;
	
	p {
		padding-left: 30px;
		padding-right: 30px;
		margin: 20px 0;
		font-family: 'Ubuntu';
		line-height: 18px;
		font-size: 12px;
		color: #CFCFCF !important;
		text-align: left;
		&:last-child {
			margin-bottom: 50px;
		}
	}
	.footer__socials {
		display: flex;
		justify-content: left;
		padding: 10px 30px;
		box-sizing: border-box;
		@media screen and (min-width: 1024px) {
		  flex-wrap: wrap;
		  justify-content: flex-start;
		  max-width: 320px;
		}
		@media screen and (min-width: 1200px) {
		  flex-direction: row;
		  padding-bottom: 0;
		  margin: 0;
		}
		@media screen and (min-width: 1480px) {
		  max-width: 380px;
		}
	  }
	  .socials {
		&__link {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  border: 1px solid #7c7c90;
		  width: 36px;
		  height: 36px;
		  min-width: 36px;
		  border-radius: 50%;
		  margin-right: 10px;
		  &:last-child {
			margin-right: 0;
		  }
		  &:hover {
			background: rgb(35, 35, 29);
		  }
		  @media screen and (min-width: 1024px) {
			margin-bottom: 11px;
			margin-right: 11px;
		  }
		  & img {
			display: block;
			max-width: 16px;
			max-height: 16px;
			width: auto;
			height: auto;
		  }
		  & svg, path, g {
			z-index: 100;
			overflow: visible;
			display: block;
			max-width: 16px;
			max-height: 16px;
			height: auto;
		}
		}
	  }
	  .link {
		color: #CFCFCF !important;
	}
	
}